@using DumDum_Star.Models.Views
@model AccountModel
@{
    ViewBag.Title = "Старые заказы — DumDum-Star";
}
<link rel="stylesheet" href="~/content/css/order.css" />
<link rel="stylesheet" href="~/content/css/account.css" />

<div class="account-base">
    <div class="account-title">
        <h1>@Model.Choom.Login</h1>
        <img src="~/images/light/missing.png" width="128px" />
        <div>
            <span>ID: @Model.Choom.Id</span>
            <span>Имя: @Model.Choom?.Name</span>
            <span>
                <button class="exit-account old-orders">
                    <a asp-action="Account">Управление аккаунтом</a>
                </button>
            </span>
        </div>
    </div>

    <div class="account-content">
        <h2>🕧 Старые Заказы 🕧</h2>
        @{
            var orders = Model.Orders.Where(order => order.ChippinTime <= DateTime.Today).ToList();

            if (orders.Any())
            {
                foreach (var cyb in orders)
                {
                    <div>
                        <h3>Заказ №@cyb.Id (@cyb.ChippinTime.ToString("dd.MM.yyyy!"))</h3>
                        <table class="order-table">
                            <thead class="order-header">
                                <th>Товар</th>
                                <th>Стоимость</th>
                                <th>Количество</th>
                                <th>Цена</th>
                            </thead>

                            <tbody>
                                @foreach (var cwto in cyb.CyberWareToOrders)
                                {
                                    <tr>
                                        @if (cwto != null)
                                        {
                                            var id = cwto.CyberWareId;
                                            var name = cwto.CyberWare.Name;
                                            var desc = cwto.CyberWare.Description ?? "Отсутствует.";
                                            var imagePath = cwto.CyberWare?.Image ?? "../images/light/missing.png";

                                            <td class="order-td product-identify">
                                                <img src=@imagePath alt="ALT." title="Информация:&#010;@desc" />
                                                <span title="Информация:&#010;@desc">
                                                    @name
                                                </span>
                                            </td>
                                            <td class="order-td product-info">
                                                @string.Concat(string.Format("{0:n}", cwto.CyberWare.Price), DumDum_Star.Program.EuroDollar)
                                            </td>
                                            <td class="order-td product-info">
                                                @cwto.Count Шт.
                                            </td>
                                            <td class="order-td product-info" style="padding-left: 3.14px;">
                                                @string.Concat(string.Format("{0:n}", cwto.FinalPrice), DumDum_Star.Program.EuroDollar)
                                            </td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
            }
            else
            {
                <span class="order-warning">
                    🕛 У Вас нет старых заказов.
                    Новичок? 🕛
                </span>
            }
        }
    </div>
</div>
