@model DumDum_Star.Models.Views.HomeModel
@{
    ViewBag.Title = "Заглавная — DumDum-Star";
}

<link rel="stylesheet" href="~/content/css/filter.css" />

<div class="search-base">
    <p>Поиск и Фильтрация</p>

    <div>
        @using (Html.BeginForm("Search", "Home", FormMethod.Post))
        {
            <form asp-action="Search">
                <div class="search-form">
                    <div class="search-body">
                        <div class="search-section">
                            <label>Запрос</label>
                            @Html.TextBoxFor(model => model.Search)

                            <label>Пороговая Нагрузка</label>
                            @Html.TextBoxFor(model => model.LimitLoad)
                        </div>
                        <!-- Легко можно добавлять новые секции! -->
                    </div>

                    <input type="submit" />
                </div>
            </form>
        }

        <div class="search-info">
            @{
                if (Model.AvailableCyberWares.Any())
                {
                    <span>🔍 Найдено имплантов: @Model.AvailableCyberWares.Count() 🔎</span>
                }
                else
                {
                    <span>✖️ Имплантов по указанным критериям не найдено. ✖️</span>
                }
            }
        </div>
    </div>
</div>

<div>
    @foreach (var cyber in Model.AvailableCyberWares)
    {
        <a asp-action="AddToCart" asp-route-id="@cyber.Id">
            @cyber.Manufacturer?.Name — @cyber.Name — @cyber.Price;
        </a>
    }
</div>
